@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: bold;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebboldfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebboldfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanwebboldfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanwebboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: 100;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebthinfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebthinfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanwebthinfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanwebthinfanum.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: 300;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanweblightfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanweblightfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanweblightfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanweblightfanum.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: normal;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebregularfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebregularfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanwebregularfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanwebregularfanum.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: 500;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebmediumfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebmediumfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanwebmediumfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanwebmediumfanum.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: 800;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebextraboldfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebextraboldfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanwebextraboldfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanwebextraboldfanum.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: 850;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebblackfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebblackfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanwebblackfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanwebblackfanum.ttf") format("truetype");
}

@font-face {
  font-family: "IranYekanFN";
  font-style: normal;
  font-weight: 900;
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebextrablackfanum.eot");
  src: url("static/fonts/iran_yekan_fn/eot/iranyekanwebextrablackfanum.eot?#iefix") format("embedded-opentype"),
  url("static/fonts/iran_yekan_fn/woff/iranyekanwebextrablackfanum.woff") format("woff"),
  url("static/fonts/iran_yekan_fn/ttf/iranyekanwebextrablackfanum.ttf") format("truetype");
}

