@import "fonts";

body {
  font-family: IranYekanFN, serif !important;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, input, textarea, .v-application {
  font-family: IranYekanFN, serif !important;
}

.v-btn{
  letter-spacing: 0 !important;
}
